XCOMM RefMotif.tmpl @(#)RefMotif.tmpl	1.1 96/05/28 SMI
XCOMM Copyright (c) 1996 Sun Microsystems, Inc.

/*
 * Common imake template for RefMotif components
 */

#ifndef UseReferenceMotif
#define UseReferenceMotif	YES
#endif

REFERENCE_PKGNAME	= RefMotif
REFERENCE_PKGBASE	= /usr
REFERENCE_PKGDIR	= dt
 
#include <sun/Reference.tmpl>

