XCOMM $XConsortium: backdrops.tmpl /main/cde1_maint/2 1995/12/04 19:02:54 barstow $

#ifdef SunArchitecture
.NO_PARALLEL:
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
#endif

OBJS = desc.$(SOURCE_LANG)

DtstyleDescRule(desc.$(SOURCE_LANG),Backdrops)

FileLinkRule($(CDESRC)/dtstyle/Backdrops,Backdrops.nls)

depend::

clean::
	$(RM) $(OBJS)
	for i in *.nls; do \
		[ -z $$i ] && continue; \
		[ -h $$i ] && $(RM) $$i; \
	done; true;
