XCOMM $XConsortium: C.tmpl /main/cde1_maint/1 1995/12/04 17:14:49 barstow $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the C locale.
 */
LANG=C

SOURCE_LANG=C
