XCOMM $XConsortium: French.tmpl /main/cde1_maint/1 1995/12/04 16:56:19 barstow $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the French locale.
 */

SOURCE_LANG=fr_FR.ISO8859-1

#ifdef AlphaArchitecture
LANG=fr_FR.ISO8859-1
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=fr_FR
#endif

#ifdef SunArchitecture
LANG=fr
#endif

#ifdef HPArchitecture
LANG=fr_FR.iso88591
#endif

#ifdef USLArchitecture
LANG=fr
#endif

#ifdef UXPArchitecture
LANG=fr
#endif
