XCOMM $XConsortium: German.tmpl /main/cde1_maint/1 1995/12/04 16:57:03 barstow $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the German locale.
 */

SOURCE_LANG=de_DE.ISO8859-1

#ifdef AlphaArchitecture
LANG=de_DE.ISO8859-1
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=de_DE
#endif

#ifdef SunArchitecture
LANG=de
#endif

#ifdef HPArchitecture
LANG=de_DE.iso88591
#endif

#ifdef USLArchitecture
LANG=de
#endif

#ifdef UXPArchitecture
LANG=de
#endif
