XCOMM $XConsortium: header2.tmpl /main/cde1_maint/1 1995/12/04 17:08:33 barstow $

/*
 * This file is a template Imakefile for making .cat files from all of
 * the .msg files in a directory. You need to set LANG to the proper
 * language.
 */

DESKTOP_VERSION_STRING = DesktopVersionString

#ifdef SunArchitecture
.NO_PARALLEL:
#endif
