XCOMM $XConsortium: header1.tmpl /main/cde1_maint/1 1995/12/04 17:07:38 barstow $

/*
 * Imakefile to run the nls tagging tool on *.nls text files to create
 * localized text files. This depends on the implicit make rules for
 * suffixes: .ad .nls .tmsg
 * Files with a ".tmsg" suffix are identical (in format) to ordinary
 * nls message files except that the message they contain are destined
 * for use by ordinary text files instead of object binaries.  The
 * ".tmsg" files are not converted to ".cat" files, but are processed
 * by the nls tagging utility "merge".
 */

DESKTOP_VERSION_STRING = DesktopVersionString

#ifdef SunArchitecture
.NO_PARALLEL:
#endif
