XCOMM $XConsortium: Italian.tmpl /main/cde1_maint/1 1995/12/04 16:57:40 barstow $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Italian locale.
 */

SOURCE_LANG=it_IT.ISO8859-1

#ifdef AlphaArchitecture
LANG=it_IT.ISO8859-1
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=it_IT
#endif

#ifdef SunArchitecture
LANG=it
#endif

#ifdef HPArchitecture
LANG=it_IT.iso88591
#endif

#ifdef USLArchitecture
LANG=it
#endif

#ifdef UXPArchitecture
LANG=it
#endif
