XCOMM $XConsortium: Japanese.tmpl /main/cde1_maint/1 1995/12/04 16:58:30 barstow $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Japanese locale.
 */

SOURCE_LANG=ja_JP.dt-eucJP

#ifdef AlphaArchitecture
LANG=ja_JP.eucJP
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=ja_JP
#endif

#ifdef SunArchitecture
LANG=ja
#endif

#ifdef HPArchitecture
LANG=ja_JP.eucJP
#endif

#ifdef USLArchitecture
LANG=ja
#endif

#ifdef UXPArchitecture
LANG=ja_JP
#endif
