XCOMM $XConsortium: Swedish.tmpl /main/cde1_maint/1 1995/12/04 17:01:45 barstow $
/*
 * This file is a template for setting the platform-specific LANG 
 * variable for the Swedish locale.
 */

SOURCE_LANG=sv_SE.ISO8859-1

#ifdef AlphaArchitecture
LANG=sv_SE.ISO8859-1
#endif

#ifdef RsArchitecture
SHELL=/bin/ksh
LANG=sv_SE
#endif

#ifdef SunArchitecture
LANG=sv
#endif

#ifdef HPArchitecture
LANG=sv_SE.iso88591
#endif

#ifdef USLArchitecture
LANG=sv
#endif

#ifdef UXPArchitecture
LANG=sv
#endif
