XCOMM $XConsortium: types.tmpl /main/cde1_maint/2 1995/12/05 09:35:04 barstow $

#ifdef RsArchitecture
SHELL=/bin/ksh
#endif

OBJS1 =  \
	autoStart.dt \
	user-prefs.dt  \
	uxstd.dt  \
	dt.dt  \
	develop.dt  \
	datatypes.dt  \
	dtappman.dt  \
	dtfile.dt  \
	dtpad.dt  \
	xclients.dt  \
	dthelp.dt  \
	dthelpprint.dt  \
	print.dt  \
	dthelptag.dt  \
	dtmail.dt  \
	dtwm.fp  \
        dt_appmanager \
	dtscreen.dt \
	dtcm.dt \
	dtbuilder.dt \
	miscActions.dt \
	miscImages.dt \
	IconBrowse.dt \
	error.ds

OBJS = $(OBJS1)

#ifdef HPArchitecture
OBJS = $(OBJS1) hp.dt
#endif

#ifdef RsArchitecture
OBJS = $(OBJS1) ibm.dt
#endif

#if SunCDE
OBJS = $(OBJS1) sunOW.dt sdtimage.dt sdtaudio.dt sdtactrl.dt
#endif

OBJS2 = action

all:: $(OBJS) $(OBJS2)

depend::


FileLinkRule($(CDESRC)/types/autoStart.dt,autoStart.dt.nls)
FileLinkRule($(CDESRC)/types/user-prefs.dt,user-prefs.dt.nls)
FileLinkRule($(CDESRC)/types/uxstd.dt,uxstd.dt.nls)
FileLinkRule($(CDESRC)/types/dt.dt,dt.dt.nls)
FileLinkRule($(CDESRC)/types/develop.dt,develop.dt.nls)
FileLinkRule($(CDESRC)/types/datatypes.dt,datatypes.dt.nls)
FileLinkRule($(CDESRC)/types/dtappman.dt,dtappman.dt.nls)
FileLinkRule($(CDESRC)/types/dtfile.dt,dtfile.dt.nls)
FileLinkRule($(CDESRC)/types/dtpad.dt,dtpad.dt.nls)
FileLinkRule($(CDESRC)/types/xclients.dt,xclients.dt.nls)
FileLinkRule($(CDESRC)/types/dthelp.dt,dthelp.dt.nls)
FileLinkRule($(CDESRC)/types/dthelpprint.dt,dthelpprint.dt.nls)
FileLinkRule($(CDESRC)/types/print.dt,print.dt.nls)
FileLinkRule($(CDESRC)/types/dthelptag.dt,dthelptag.dt.nls)
FileLinkRule($(CDESRC)/types/dtmail.dt,dtmail.dt.nls)
FileLinkRule($(CDESRC)/types/dtwm.fp,dtwm.fp.nls)
FileLinkRule($(CDESRC)/types/action,action.nls)
FileLinkRule($(CDESRC)/types/dt_appmanager,dt_appmanager.nls)
FileLinkRule($(CDESRC)/types/dtscreen.dt,dtscreen.dt.nls)
FileLinkRule($(CDESRC)/dtcm/dtcm/dtcm.dt,dtcm.dt.nls)
FileLinkRule($(CDESRC)/dtappbuilder/src/ab/dtbuilder.dt,dtbuilder.dt.nls)
FileLinkRule($(CDESRC)/types/miscActions.dt,miscActions.dt.nls)
FileLinkRule($(CDESRC)/types/miscImages.dt,miscImages.dt.nls)
FileLinkRule($(CDESRC)/types/IconBrowse.dt,IconBrowse.dt.nls)
FileLinkRule($(CDESRC)/types/error.ds,error.ds.nls)

#ifdef HPArchitecture
FileLinkRule($(CDESRC)/types/hp.dt,hp.dt.nls)
#endif
#ifdef RsArchitecture
FileLinkRule($(CDESRC)/types/ibm.dt,hp.ibm.nls)
#endif
#if SunCDE
FileLinkRule($(CDESRC)/types/sunOW.dt,sunOW.dt.nls)
FileLinkRule($(SUNCDESRC)/sdtimage/sdtimage.dt,sdtimage.dt.nls)
FileLinkRule($(SUNCDESRC)/sdtaudio/sdtaudio/sdtaudio.dt,sdtaudio.dt.nls)
FileLinkRule($(SUNCDESRC)/sdtaudio/sdtactrl/sdtactrl.dt,sdtactrl.dt.nls)
#endif

FileLinkRule(_common.dt.tmsg,autoStart.dt.tmsg)
FileLinkRule(_common.dt.tmsg,user-prefs.dt.tmsg)
FileLinkRule(_common.dt.tmsg,uxstd.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dt.dt.tmsg)
FileLinkRule(_common.dt.tmsg,develop.dt.tmsg)
FileLinkRule(_common.dt.tmsg,datatypes.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dtappman.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dtfile.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dtpad.dt.tmsg)
FileLinkRule(_common.dt.tmsg,xclients.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dthelp.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dthelpprint.dt.tmsg)
FileLinkRule(_common.dt.tmsg,print.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dthelptag.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dtmail.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dtwm.fp.tmsg)
FileLinkRule(_common.dt.tmsg,dt_appmanager.tmsg)
FileLinkRule(_common.dt.tmsg,dtscreen.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dtcm.dt.tmsg)
FileLinkRule(_common.dt.tmsg,dtbuilder.dt.tmsg)
FileLinkRule(_common.dt.tmsg,miscActions.dt.tmsg)
FileLinkRule(_common.dt.tmsg,miscImages.dt.tmsg)
FileLinkRule(_common.dt.tmsg,IconBrowse.dt.tmsg)
FileLinkRule(_common.dt.tmsg,error.ds.tmsg)

#ifdef HPArchitecture
FileLinkRule(_common.dt.tmsg,hp.dt.tmsg)
#endif
#ifdef RsArchitecture
FileLinkRule(_common.dt.tmsg,ibm.dt.tmsg)
#endif
#if SunCDE
FileLinkRule(_common.dt.tmsg,sunOW.dt.tmsg)
FileLinkRule(_common.dt.tmsg,sdtimage.dt.tmsg)
FileLinkRule(_common.dt.tmsg,sdtaudio.dt.tmsg)
FileLinkRule(_common.dt.tmsg,sdtactrl.dt.tmsg)
#endif

clean::
	$(RM) $(OBJS) $(OBJS2)
	for i in *.nls; do \
		[ -z $$i ] && continue; \
		[ -h $$i ] && $(RM) $$i; \
	done; true; 
	for i in $(OBJS); do \
		$(RM) $$i.tmsg; \
	done; true; 

