/* Set the Desktop version here. In the future, this will undoubtedly expand.
 * In non-vue Imakefiles, DESKTOP_VERSION_STRING = DesktopVersionString
 * will give you the version string below. Otherwise
 * for vue use VUE_VERSION_STRING = VUEVersionString.
 * DESKTOP_VERSION_STRING is used in make rules to create the version
 * string. Normally this is empty.
 */
#if UseCdeVersion
#define DesktopVersionString Common Desktop Environment (CDE) Version CdeVersion
#else
#if UseUnityVersion
#ifndef DesktopVersionString
#define DesktopVersionString HP-IBM Visual User Environment Version UnityVersion
#endif
#else
#ifndef VUEVersionString
#define VUEVersionString HP Visual User Environment Version 3.0	   A.03.05
#endif
#endif
#endif
