dtlogin.rc has been replaced in the build environment by 
dtlogin.rc.src. To create dtlogin.rc: at the command line
type:

	make dtlogin.rc

For changes to dtlogin.rc, you must edit the file 
dtlogin.rc.src.

